<footer>
  <img src="fieldwork-logo.png" alt="Fieldwork Community Networks" class="footer-logo">
  <div class="footer-text">
    <p>Fieldwork Community Networks LLC &nbsp;·&nbsp; California Entity No. B20260264727 &nbsp;·&nbsp; EIN 42-2984786</p>
    <p>Southern Humboldt County, California</p>
    <p style="margin-top:0.5rem;">
      <a href="mailto:themoses@fieldworkcommunitynetworks.com">themoses@fieldworkcommunitynetworks.com</a>
      &nbsp;·&nbsp;
      <a href="https://fieldworkcommunitynetworks.com">fieldworkcommunitynetworks.com</a>
    </p>
  </div>
</footer>
